@model IEnumerable<Customer>

<h1>All Customers</h1>

<ul>
    @foreach (var customer in Model)
    {
        <li><a href="/customers/details/@customer.Id>">@customer.Name</a>: @customer.Email</li>
    }

</ul>

<form method="get" action="/customers/new">
    <div class="newbutton">

        <button type="submit">Add Customer</button>

    </div>

</form>