@model IEnumerable<CoffeeShopMVC.Models.Customer>

<h1>Customers</h1>

@if (Model.Any() != false)
{
    @foreach (var customer in Model)
    {
        <div>
            <p>Name: @customer.Name, Email: @customer.EmailAddress</p>
        </div>
    }
}
else
{
    <p>No data available.</p>
}

