
<h3>Add a Customer</h3>

<form id="new-customer-form" method="post" action="/customers">
    <label for="Customer-Name">Name:</label>
    <input type="text" id="Customer-Name" name="Name">
    <br>
    <br>
    <label for="Customer-Email">Email:</label>
    <input type="text" id="Customer-Email" name="Email">
    <br>
    <br>
    <button type="submit">Submit</button>
</form>