@model IEnumerable<Item>

    <h1>All Items</h1>

    <ul>
        @foreach (var item in Model)
    {
        <li><a href="/items/details/@item.Id>">@item.Name</a>: @item.PriceInDollars()</li>
    }

    </ul>
<form method="get" action="/items/new">
    <div class="newbutton">

        <button type="submit">Add Item</button>

    </div>

</form>