<h1>Add an Item</h1>

<form method="post" action="/items">
	<div class="form-group">
		<label for="Name">Name:</label>
		<input type="text" id="Name" name="Name" />
	</div>
	<div class="form-group">
		<label for="PriceInCents">Price in Cents:</label>
		<input type="number" id="PriceInCents" name="PriceInCents" />
	</div>
	<button type="submit">Create Item</button>
</form>