@model Item

<h1>@Model.Name</h1>


<p>$@Model.PriceInDollars()</p>

<a href="/items/edit/@Model.Id">edit item</a><br />

<form method="post" action="/items/delete/@Model.Id">
<button type="submit">Delete</button>
</form>